.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


.jt {
    position: relative;
    font-size: 2vmin;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px tomato;
}

.jt__row {
    display: block;
}

    .jt__row:nth-child(1) {
        clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
    }

    .jt__row:nth-child(2) {
        clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
    }

    .jt__row:nth-child(3) {
        clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
    }

    .jt__row:nth-child(4) {
        clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
    }

    .jt__row.jt__row--sibling {
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        witdh: 200px;
    }

.jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite;
}

.jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
}

.jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
}

.jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2);
}

.jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3);
}

.jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4);
}

.jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
    50%, 100% {
        transform: translateY(0em)
    }

    0% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}



.debug .jt__row:nth-child(even) {
    color: black;
    background: white;
}

.debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
}

* {
    box-sizing: border-box
}

html, body {
    margin: 0;
    background: black;
    color: tomato;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}